@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
}

body{
    background-color: #222831;
    color: white;
    margin:auto;
    padding:0; 
    box-sizing: border-box;
}

.introScreen{
    // background-color: grey;
    background-image: url(../../assets/images/bgtest.jpg);
    background-size: cover;
    background-position: bottom right;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .introContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .photo{
            margin-bottom: 10px;
            max-width: 350px;
            min-height: auto;
        }

        .name {
            // font-size: 3rem;
            // font-weight: 700;
            margin: 0;
            margin-bottom: 80px;
        }

        .quickLinks {
            display: flex;
            
            margin-bottom: 50px;
            ul {
                background-color: #222831;
                border-radius: 10px;
                list-style: none;
                padding: 0;
                margin: 0;
            }
            li {
                display: inline-block;
                width: 40px;
                height: auto;
                margin: 5px;
                margin-left: 15px;
                margin-right: 15px;
            }
        }  
    }
}

.aboutMe {
    min-height: 40vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .aboutPhotos {
        display: flex;
        align-items: center;
        height: 100%;
        width: 50%;
    }

    .aboutText {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
    }
}

.certificationSection {
    height: 50vh;
    background-color: #393E46;

    .certificationTitle {
        text-align: center;
        margin: auto;
    }

    .certificationList {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 70%;
        margin:auto;
    }
}

.projectSection {
    background-color: #1B262C;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .projectIntro {
    text-align: center;
    width: 50%;
    margin: auto;
    }

    .projectList {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        min-height: 30vh;
        max-width: 950px;
        margin:auto;
    }

    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        width: 250px;
        margin: 5px;
        margin-bottom: 25px;
        height: 300px;
        background-color: #393E46;
        border-radius: 5px;
    }
}

@media (pointer: coarse) {
    .aboutPhotos {
        display: none;
    }
    .aboutText {
        width: 100%;
    }
}