$quick-connect-icon-colors: #fbfbfb;
$title-color: #fbfbfb;
$button-color: #625D5D;
$work-selected-color: #e6cbcc;
$personal-selected-color: #8BC6FC;

.background {
    background-color: #303030;
    height: 100vh;
    margin:auto;
    padding:0;
    position: relative;
    box-sizing: border-box;
}

@function calculateGradient(){
    $x: $x-position;

}

.gradient {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8;
}


/*Title/Path Text*/
.title-section {
    display: block;
}

.title-info {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-section{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;

    .button {
        display: flex;
        width: 350px;
        height: 400px;
        background-color: $button-color;
        border-radius: 10px;
        .work {
            color: $work-selected-color;
        }
        .personal {
            color: $personal-selected-color;
        }     
    }
}



.contact{
    margin-top: 125px;
    text-align: center;
}