$quick-connect-icon-colors: #fbfbfb;
$title-color: #fbfbfb;
$button-color: #625D5D;
$work-selected-color: #e6cbcc;
$personal-selected-color: #8BC6FC;

body {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #303030;
}

.title-section {
    display: block;
    
    .title-info {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.button-section{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-wrap: wrap;

    .button {
        display: flex;
        width: 19%;
        min-width: 360px;
        max-width: 415px;
        height: 450px;
        margin-bottom: 25px;
        background-color: $button-color;
        border-radius: 10px;
        .work {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $work-selected-color;
        }
        .personal {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: $personal-selected-color;
        }     
    }
}